.movie__selected {
  display: flex;
}

.movie__selected--figure {
  width: 40%;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie__selected--img {
  max-height: 500px;
  width: auto;
  max-width: 100%;
}

.movie__selected--description {
  width: 60%;
  padding: 16px 32px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie__summary {
  margin-bottom: 16px;
}

.movie__selected--title {
  margin-bottom: 8px;
}

.movie__summary--title {
  margin-bottom: 8px;
}

.movie__summary--para {
  margin-bottom: 16px;
}

h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
  color: #143d59;
}

.movie__selected--release-date {
  font-size: 16px;
  margin: 8px 0 24px 0;
}