.display-movie {
  padding: 24px;
  width: 25%;
}

.movie__img {
  max-height: 320px;
  max-width: 250px;
  transition: all 300ms ease;
  width: 100%;
}

.movie__img--wrapper {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.display-movie:hover .movie__img {
  transform: scale(1.03);
}

.movie__img--skeleton {
  max-width: 250px;
  height: 320px;
  background-color: rgb(204, 204, 204);
  margin-bottom: 8px;
}